.navbar-brand img {
    position: relative;
    float: left;
    width: 75px;
    height: 40px;
    top: -7px;
    left: -5px;
}

.p-t-12 {
  padding-top: 16px
}
.p-lg-b {
  padding-bottom: 16px;
}
.glyphicon {
	margin-top: -2px;
}